.containerPrincipal{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 70px;
}
.arrowBack button{
    cursor: pointer;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerPrincipal button:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}
.containerName{
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    display: flex;
    
    color: white;
    gap: 50px;
    border-bottom: 2px solid white;
}
.contianerData{
    padding: 10px;
    margin-top: 50px;
    color: white;
}
.item{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 20px;
}
.item button{
    min-width: 100px;
    padding: 5px;
}
.item button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
