.containerPrincipal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(73, 73, 73);
    background-color: white;
    width: 550px;
}
.containerPrincipal h1{
    color: black;
    display: flex;
    justify-content: center;
}
.contanierData{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    gap: 10px;
    
}
.form input{
    padding: 10px;
    border: gray 1px solid;
    width: 100%;
}
.form select{
    width: 100%;
    padding: 10px;
    border: gray 1px solid;
}
.form textarea{
    padding: 10px;
    border: gray 1px solid;
}
.form button{
    padding: 10px;
    font-size: 15px;
    background-color: rgb(68, 68, 68) ;
    color: white;
    border: 2px solid rgb(68, 68, 68);
    min-width: 70px;
}
.form button:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(68, 68, 68);
    border: 2px solid rgb(68, 68, 68);
    transition: 0.3s ease;
}
.containerButtons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .containerPrincipal{
        width: 300px;
    }
    .containerPrincipal h1{
        font-size: 22px;
        display: flex;
    }
}