.containerPrincipal{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: 100%;
    min-height: 665px;
    color: white;
    min-height: 100vh;
    

}
.containerPrincipal h1{
    padding: 10px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.emptyMovents{
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.containerData{
    font-size: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: gray;
}
.arrowGrren{
    padding: 5px;
    background-color: green;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: none;
}
.arrowRed{
    padding: 5px;
    background-color: red;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: none;
}
.containerMovents{
    padding: 10px;
}
.containerTitle{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.containerTitle button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: rgb(68, 68, 68);
}
.containerTitle button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s ease;
}
.containerBalance{
    display: flex;
    align-items: center;
    gap: 10px;
}
.containerPie{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100%;
}
.summaryButton{
    margin-top: 20px;
    margin-bottom: 20px;
}
.summaryButton button{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
}
.summaryButton button:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease;
}


@media (max-width: 800px) {

    .containerPrincipal{
        min-height: 92.2vh;
    }
    .table thead {
        display: none;
    }
    .table tr{
        border-bottom: 3px solid white;
    }
    .table td {
        display: flex;
        justify-content: center;
        border: none;
        padding: 8px 0;
    }
    .date{
        background-color: gray;
        width: 100%;
    }
    
    
}




