.containerPrincipal{
    width: 100%;
    background-color: #000;
    color: white;
    height: 70px;
    padding: 10px;
    gap: 20px;
    
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerPrincipal h1{
    padding: 10px;
    width: 100%;
}
.containerPrincipal span{
    padding: 10px;
    cursor: pointer;
}
@media (max-width: 800px) {
    .containerPrincipal{
        font-size: 12px;
    }
}

