.containerPrincipal{
    width: 100%;
    background-color: rgb(90, 88, 88);
    color: white;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerPrincipal h1{
    padding: 10px;
}


