.containerPrincipal{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 100vw;
    
}
.modalBackdrop{
    position: fixed;
    background-color: #00000073;
    width: 100%;
    height: 100%;
}