.containerPrincipal{
    color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(50, 49, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerPrincipal h1{
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}
.containerPrincipal p {
    padding: 5px;
}
.googleButton{
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    overlay: none;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}
.googleButton:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
    color: black;
    background-color: white;
}
.img{
    width: 35px;
    height: 35px;
}
