.containerPrincipal{
    color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(50, 49, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.containerPrincipal h1{
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}
.containerPrincipal p {
    padding: 5px;
}
.img{
    width: 35px;
    height: 35px;
}
.googleButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
}
.googleButton p {
    font-size: 15px;
}
.googleButton:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease;
    transform: scale(1.1);
}
