.containerPrincipal{
    background-color: rgb(41, 41, 41);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
.containerPrincipal h1{
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.googleButton{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    font-size: 20px;
    overlay: none;
    background-color: white;
    cursor: pointer;
    border: none;
}
.img{
    
    width: 35px;
    height: 35px;
}